{# <div class="mr-auto pc-mob-drp">
	<ul class="list-unstyled">
		<li class="dropdown pc-h-item">
			<a class="pc-head-link active dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				{{ app.user.username }}
			</a>
			<div class="dropdown-menu pc-h-dropdown">
				<a href="#!" class="dropdown-item">
					<i class="material-icons-two-tone">account_circle</i>
					<span>Mon compte</span>
				</a>
				Sub-Dropdown
				<div class="pc-level-menu">
					<a href="#!" class="dropdown-item">
						<i class="material-icons-two-tone">list_alt</i>
						<span class="float-right"><i data-feather="chevron-right" class="mr-0"></i></span>
						<span>{{ app.user.username }}</span>
					</a>
					<div class="dropdown-menu pc-h-dropdown">
						<a href="#!" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Mon compte</span>
						</a>
						<a href="#!" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Paramètres</span>
						</a>
						<a href="{{ path('app_logout') }}" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Déconnexion</span>
						</a>
					</div>
				</div>
				<a href="#" class="dropdown-item">
					<i class="material-icons-two-tone">settings</i>
					<span>Paramètres</span>
				</a>
				<a href="{{ path('app_logout') }}" class="dropdown-item">
					<i class="material-icons-two-tone">chrome_reader_mode</i>
					<span>Déconnexion</span>
				</a>
			</div>
		</li>
	</ul>
</div> #}
<div class="ml-auto">
	<ul class="list-unstyled">
		<li class="dropdown pc-h-item">
			<a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				<i class="material-icons-two-tone">search</i>
			</a>
			<div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
				<form class="px-3">
					<div class="form-group mb-0 d-flex align-items-center">
						<i data-feather="search"></i>
						<input type="search" class="form-control border-0 shadow-none" placeholder="Rechercher ici. . .">
					</div>
				</form>
			</div>
		</li>
		<li class="dropdown pc-h-item">
			<a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
				<img src="{{ asset(avatar_path~app.user.avatar) }}" alt="user-image" class="user-avtar">
				<span>
					<span class="user-name">{{ app.user.fullName }}</span>
					<span class="user-desc">{{ app.user.role }}</span>
				</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
				<a href="{{ path('admin_user_details', {'id': app.user.id}) }}" class="dropdown-item">
					<i class="fas fa-user-circle"></i>
					<span>Mon compte</span>
				</a>
				{#  Sub-Dropdown
				<div class="pc-level-menu">
					<a href="#!" class="dropdown-item">
						<i class="material-icons-two-tone">list_alt</i>
						<span class="float-right"><i data-feather="chevron-right" class="mr-0"></i></span>
						<span>{{ app.user.username }}</span>
					</a>
					<div class="dropdown-menu pc-h-dropdown">
						<a href="#!" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Mon compte</span>
						</a>
						<a href="#!" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Paramètres</span>
						</a>
						<a href="{{ path('app_logout') }}" class="dropdown-item">
							<i class="fas fa-circle"></i>
							<span>Déconnexion</span>
						</a>
					</div>
				</div>
				#}
				<a href="#" class="dropdown-item">
					<i class="fas fa-cog"></i>
					<span>Paramètres</span>
				</a>
				<a href="{{ path('app_logout') }}" class="dropdown-item">
					<i class="fas fa-sign-out-alt"></i>
					<span>Déconnexion</span>
				</a>
			</div>
		</li>
	</ul>
</div>
