{% extends 'layouts/triangle/base.html.twig' %}

{% block title %} {{ app_name }} | {{ project.title }} {% endblock %}

{% block Home_Slider %}
{% endblock %}

{% block Content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Mes applications</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ asset(project.picture) }}" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="project-name overflow">
                        <h2 class="bold">{{ project.title}} ({{ project.categories.first.title|replace({'_':' '}) }}) </h2>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-clock-o"></i>{{ project.startDate|format_datetime(locale='fr',pattern ="d MMM, Y") }}</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i>{{ project.categories.first.title|replace({'_': ' '}) }}</a></li>
                        </ul>
                    </div>
                    <div class="project-info overflow">
                        <h3>Description du projet</h3>
                        <p>{{ project.description }}</p>
                        <ul class="elements">
                            {% for feature in project.features %}
                                <li><i class="fa fa-angle-right"></i> <strong>{{ feature.title }}</strong> : <p>{{ feature.description }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if project.skills is not empty %}
                    <div class="skills overflow">
                        <h3>Compétences : </h3>
                        <ul class="nav navbar-nav navbar-default">
                            {% for skill in project.skills %}
                                <li><a href="#"><i class="fa fa-check-square"></i>{{ skill.title|replace({'_': ' '}) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if project.clientName is not empty %}
                        <div class="client overflow">
                            <h3>Client : </h3>
                            <ul class="nav navbar-nav navbar-default">
                                <li><a href="#"><i class="fa fa-bolt"></i>O{{ project.clientName }}</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    {% if project.isPublished %}
                        <div class="live-preview">
                            <a href="{{ path(project.projectLink) }}" class="btn btn-common uppercase">Aperçu en direct</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
