<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">{{ perso_full_name }}</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_twitter }}" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_fb }}" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_insta }}" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_github }}" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                        </li>
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_linkedin }}" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                        </li>
                        <li class="nav-item"><a target="_blank" class="nav-link" href="{{ link_site }}" title="Site"><i class="fas fa-link"></i><span class="menu-title sr-only">Site</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small">
            <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
            <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        </div>
    </div>
</footer>