<div class="container">
    <div class="row">
        <div class="col-sm-12 overflow">
            <div class="social-icons pull-right">
                <ul class="nav nav-pills">
                    <li><a href="{{ link_fb }}"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ link_twitter }}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ link_insta }}"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="{{ link_github }}"><i class="fab fa-github"></i></a></li>
                    <li><a href="{{ link_linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="{{ link_site }}"><i class="fas fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>